<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ford Software Set Lookup Site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> 
</head>
<body>
    <div class="jumbotron">
        <div class="container">
        <h1>Ford Software set Lookup Tool</h1>
        <p>Please login with your CDSID and Password</p>
        </div>
    </div>
    <div class="container">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-default">
        <a href="{% url 'buildurl' %}">Login</a>
        </button>
    </form>
    </div>
</body>
</html>